!!!
html(ng-app="swcg")
    head
        meta(charset='utf8')
        base(href='/')
        //title Star Wars Costuming Groups
        link(rel='styleSheet', href='/css/bootstrap.css')
        //link(rel='styleSheet', href='/css/bootstrap.theme.css')
        link(rel='styleSheet', href='/css/ui-bootstrap-csp.css')

        link(rel='stylesheet', href='/css/app.css')
    body
        block body